.container {
  position:relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size:0.9rem;
}

div[data-id='preview-container'] {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
}

div[data-id='js-container'] {
  width: 45%;
  background: #011b40;
  height: 21.875rem;
  max-height: 21.875rem;
  overflow: auto;
  min-width: 300px;
  overflow: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #eaff01, inset -2px -2px 2px #fdf905;
  position: relative;
  font-family: 'Fira code', 'Fira Mono', monospace;
  cursor: text;
}

div[data-id='css-container'] {
  width: 45%;
  background: #011b40;
  height: 21.875rem;
  max-height: 21.875rem;
  overflow: auto;
  min-width: 300px;
  overflow: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #0271f8, inset -2px -2px 2px #0271f8;
  position: relative;
  font-family: 'Fira code', 'Fira Mono', monospace;
  cursor: text;
}

div[data-id='error-container'] {
  background: tomato;
  color: #505050;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
}

.codeLogo {
  position: absolute;
  left:5%;
  bottom:20.5rem;
  font-size:3rem;
  color: rgb(247, 247, 0);
  z-index: 2;
}

.cssLogo {
  position: absolute;
  right:5%;
  bottom:20.5rem;
  font-size:3rem;
  color: rgb(106, 83, 255);
  z-index: 2;
}
/* DISABLE WHITE SQUARE AROUND =, ! and < > CODE SYMBOLS */

span[class*='operator'] {
  background: none !important;
}

textarea:focus {
  outline: none;
}

/* HEADER STYLES */

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  position: relative;
  width: 200px;
  height: 200px;
  background: #262626;
  transform: perspective(1000px) rotate(-30deg) skew(25deg);
  background: url('./assets/bg_logo2.jpeg');
  background-size: cover;
  box-shadow: 0 0 0 0 #070129;
}

.left {
  position: absolute;
  bottom: -40px;
  left: -20px;
  content: 'hello';
  width: 100%;
  height: 40px;
  background: url('./assets/bg_logo2.jpeg');
  background-size: cover;
  transform: rotate(0deg) skewX(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  position: absolute;
  top: 60px;
  right: 80px;
  content: 'hello';
  width: 100%;
  height: 40px;
  background: url('./assets/bg_logo2.jpeg');
  background-size: cover;
  transform: rotate(90deg) skewX(45deg) translateY(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line {
  width: 0px;
  height: 2px;
  background: #fff;
  align-self:flex-start;
}

.left h5 {
  font-size: 0.8rem;
  margin: 0 !important;
  padding: 0 !important;
}

.right h5 {
  font-size: 0.8rem;
  margin: 0 !important;
  padding: 0 !important;
}

.title {
font-size: 2.5rem;
}

.title h4 {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.sideTitles {

}